body {
    margin: 0
}

::selection {
    background-color: #3f9bd1;
    color: #fff
}

body.full .hero {
    height: 500px
}

body.full h1,body.full footer {
    display: none
}

img {
    border: 0
}

header .logo {
    opacity: .75;
    position: fixed;
    left: 10px;
    top: 10px;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}

header .logo a{
    font-weight:bold;
}

header .logo:hover {
    opacity: 1
}

@media (max-width: 48em) {
    header .logo {
        position:absolute
    }
}

.container {
    margin: 0 auto;
    max-width: 34rem
}

.container hr {
    border: 0;
    height: 2px;
    width: 25%;
    background-color: #3f9bd1
}

.menu {
    text-align: center;
    margin-bottom: 50px
}

.menu ul {
    padding-left: 0
}

.menu ul a {
    text-decoration: none;
    padding: 5px 7px;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease
}

.menu ul a:hover {
    background-color: #C9E6F7;
    color: #3f9bd1
}

.menu ul li {
    display: inline;
    margin: 0 7px
}

.content {
    padding: 0 2rem
}

.content .date {
    float: left;
    margin-top: 7px;
    margin-bottom: 25px;
    margin-left: -190px;
    width: 150px;
    text-align: right;
    text-transform: uppercase;
    color: #3f9bd1;
    font-weight: bold;
}

@media (max-width: 900px) {
    .content .date {
        float:none;
        margin-left: 0;
        text-align: left;
        font-weight: bold;
    }
}

.content p code {
    background-color: #C9E6F7;
    padding: 2px 4px;
    color: #1a898a
}

.content blockquote {
    position: relative;
    min-width: 110%;
    max-width: 110%;
    margin-left: -5%;
    background-color: #C9E6F7;
    border-radius: 5px;
    color: #3f9bd1
}

.content blockquote:before {
    font-family: "Times New Roman";
    content: "“";
    position: absolute;
    top: -5px;
    left: 10px;
    font-size: 35px;
    font-weight: bold;
    color: #3f9bd1
}

.content blockquote p {
    margin: 0;
    padding: 15px 5%
}

@media (max-width: 38em) {
    .content blockquote {
        max-width:110vw;
        margin-left: -2rem;
        margin-right: -2rem;
        border-radius: inherit
    }

    .content blockquote p {
        padding: 15px 2rem
    }
}

.content hr {
    margin: 50px auto
}

.content img:not(.emoji) {
    min-width: 110%;
    max-width: 110%;
    margin-left: -5%;
    border-radius: 5px
}

@media (max-width: 38em) {
    .content img:not(.emoji) {
        max-width:100vw;
        margin-left: -2rem;
        border-radius: inherit
    }
}

.content .twitter-tweet {
    width: 110% !important
}

.content .aside {
    background-color: #C9E6F7;
    padding: 10px 15px;
    color: #1a898a;
    font-size: .75rem;
    font-family: "AvenirNextLTW01-Italic", "Avenir Next", sans-serif;
    font-style: normal
}

.hero {
    height: 250px;
    background-color: #3f9bd1;
    background-position: center center;
    background-size: cover;
    text-align: center
}

.hero h1 {
    background-color: #3f9bd1;
    display: inline-block;
    padding: 0px 20px;
    line-height: 60px;
    margin-top: 90px
}

.recent-posts {
    margin-bottom: 5rem;
    padding-left: 0
}

.recent-posts li {
    margin-bottom: 5px;
    list-style-type: none
}

.recent-posts li div {
    padding: 5px 0
}

.recent-posts li .title {
    font-size: 1rem;
    padding: 0
}

.recent-posts li .date {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.2);
    line-height: 24px
}

@media (max-width: 57em) {
    .recent-posts li .date {
        display:none
    }
}

.closing {
    margin: 2rem 0;
    font-size: 14px;
    color: #999
}

.closing a {
    border-bottom: 0 !important
}

.closing .bio {
    margin: 4rem 0;
    color: rgba(0,0,0,0.2);
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif
}

.closing .bio a {
    text-decoration: none;
    font-weight: bold;
}

.closing .bio .twitter-share-button {
    vertical-align: middle;
    float: right
}

.closing .bio .logo img {
    min-width: inherit;
    vertical-align: middle;
    position: absolute;
    left: calc(50% - 17.5px);
    margin: -5px 0 0 0
}

#about-shipped {
    padding: 0;
    clear: both;
    list-style-type: none;
    font-size: 15px
}

#about-shipped h4 {
    margin: 0
}

#about-shipped li {
    padding: 15px 0;
    clear: both
}

@media (min-width: 38em) {
    #about-shipped li:nth-child(2n) img {
        float:left;
        padding: 5px 10px 0 0
    }

    #about-shipped img {
        min-width: 250px !important;
        max-width: 250px !important;
        margin: 0 !important;
        border-radius: 0 !important;
        float: right;
        padding-left: 10px
    }
}

#about-shipped p {
    margin: 0px
}

html {
    font-size: 16px;
    font-family: "AvenirNextLTW01-Regular", "Avenir Next", sans-serif;
    line-height: 1.6
}

h1,h2,h3,h4,h5,h6,b,strong {
    color: #3f9bd1;
    font-weight: bold;
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif
}

b,strong {
    color: #222
}

strong em {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-style: italic
}

em,i {
    font-family: "AvenirNextLTW01-Italic", "Avenir Next", sans-serif;
    font-style: normal
}

a {
    color: #3f9bd1
}

header li {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-weight: normal;
    font-size: 15px
}

header h1 {
    color: #fff;
    font-size: 46px;
    font-weight: bold;
}

header h1.compressed {
    font-size: 30px
}

@media (max-width: 50em) {
    header h1 {
        font-size:5vw
    }

    header h1.compressed {
        font-size: 7vw;
        line-height: 7vw !important
    }
}

.content .date {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-weight: normal;
    font-size: 13px;
    font-weight: bold;
}

.content p {
    margin: 1rem 0 1rem 0
}

.titlesite {
    text-decoration:none; 
    background-color:#fff;
    padding: 8px;
}

.content blockquote {
    font-size: 1.1rem
}

.content a {
    text-decoration: none;
    border-bottom: 2px solid #C9E6F7;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    -ms-transition: border-color 0.2s ease;
    -o-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease
}

.content a:hover {
    border-color: #3f9bd1
}

footer {
    font-family: "Avenir Next LT W01 Bold", "Avenir Next", sans-serif;
    font-weight: normal
}

@media (min-width: 38em) {
    html {
        font-size:20px
    }
}

.highlight {
    min-width: 110%;
    max-width: 110%;
    margin-left: -5%;
    border-radius: 5px;
    background-color: #fbfbfb;
    font-size: 16px;
    overflow: hidden;
    text-shadow: none;
    color: #111;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.05)
}

.highlight pre {
    padding: 15px 5%
}

@media (max-width: 38em) {
    .highlight {
        max-width:110vw;
        margin-left: -2rem;
        margin-right: -2rem;
        border-radius: inherit
    }

    .highlight pre {
        padding: 15px 2rem
    }
}

.highlight pre {
    margin: 0;
    background: none
}

.hightlight code {
    float: left
}

.highlight:hover {
    overflow: auto
}

.highlight .hll {
    background-color: #ffc
}

.highlight .c {
    color: #888
}

.highlight .err {
    color: #a61717;
    background-color: #e3d2d2
}

.highlight .k {
    color: #008800;
    font-weight: bold
}

.highlight .cm {
    color: #888
}

.highlight .cp {
    color: #cc0000;
    font-weight: bold
}

.highlight .c1 {
    color: #888
}

.highlight .cs {
    color: #cc0000;
    font-weight: bold;
    background-color: #fff0f0
}

.highlight .gd {
    color: #000000;
    background-color: #fdd
}

.highlight .ge {
    font-style: italic
}

.highlight .gr {
    color: #a00
}

.highlight .gh {
    color: #303030
}

.highlight .gi {
    color: #000000;
    background-color: #dfd
}

.highlight .go {
    color: #888
}

.highlight .gp {
    color: #555
}

.highlight .gs {
    font-weight: bold
}

.highlight .gu {
    color: #606060
}

.highlight .gt {
    color: #a00
}

.highlight .kc {
    color: #008800;
    font-weight: bold
}

.highlight .kd {
    color: #008800;
    font-weight: bold
}

.highlight .kn {
    color: #008800;
    font-weight: bold
}

.highlight .kp {
    color: #080
}

.highlight .kr {
    color: #008800;
    font-weight: bold
}

.highlight .kt {
    color: #888888;
    font-weight: bold
}

.highlight .m {
    color: #0000DD;
    font-weight: bold
}

.highlight .s {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .na {
    color: #369
}

.highlight .nb {
    color: #038
}

.highlight .nc {
    color: #bb0066;
    font-weight: bold
}

.highlight .no {
    color: #003366;
    font-weight: bold
}

.highlight .nd {
    color: #555
}

.highlight .ne {
    color: #bb0066;
    font-weight: bold
}

.highlight .nf {
    color: #0066bb;
    font-weight: bold
}

.highlight .nl {
    color: #336699;
    font-style: italic
}

.highlight .nn {
    color: #bb0066;
    font-weight: bold
}

.highlight .py {
    color: #336699;
    font-weight: bold
}

.highlight .nt {
    color: #bb0066;
    font-weight: bold
}

.highlight .nv {
    color: #369
}

.highlight .ow {
    color: #080
}

.highlight .w {
    color: #bbb
}

.highlight .mf {
    color: #0000DD;
    font-weight: bold
}

.highlight .mh {
    color: #0000DD;
    font-weight: bold
}

.highlight .mi {
    color: #0000DD;
    font-weight: bold
}

.highlight .mo {
    color: #0000DD;
    font-weight: bold
}

.highlight .sb {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .sc {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .sd {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .s2 {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .se {
    color: #0044dd;
    background-color: #fff0f0
}

.highlight .sh {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .si {
    color: #3333bb;
    background-color: #fff0f0
}

.highlight .sx {
    color: #22bb22;
    background-color: #f0fff0
}

.highlight .sr {
    color: #008800;
    background-color: #fff0ff
}

.highlight .s1 {
    color: #dd2200;
    background-color: #fff0f0
}

.highlight .ss {
    color: #aa6600;
    background-color: #fff0f0
}

.highlight .bp {
    color: #038
}

.highlight .vc {
    color: #369
}

.highlight .vg {
    color: #d70
}

.highlight .vi {
    color: #33b
}

.highlight .il {
    color: #0000DD;
    font-weight: bold
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}