<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  {% if page.categories %}
  <title>{{ page.title }}</title>
  {% else %}
  <title>{{ site.title }}</title>
  {% endif %}   
  <meta name="author" content="{{ site.name }}" />
  <meta name=”twitter:site” content=”@{{ site.twitter }} />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#3f9bd1">
  <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/atom.xml" />
  <link href='//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/styles.css" type="text/css" media="screen, projection" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
</head>