<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include head.html %}
<body>
<header>
    <div class="logo">
      <a href="/" class="titlesite">GF</a>
    </div>  
    {% if page.image.feature %}
      <div class="hero" style="background-image: url(/images/{{page.image.feature}});">    
          {% if page.title %}
          <h1>{{ page.title }}</h1>
          {% else %}
          <h1>{{ site.name }}</h1>
          {% endif %}           
      </div>
    {% endif %}
    <link rel="canonical" href="{{ site.url }}{{ page.url}}" />
  </header>
<div class="container menu">
    <ul>
      <li><a href="/sobre.html">Sobre</a></li>
      <li><a href="/index.html">Blog</a></li>
      <li><a href="/videos.html">Vídeos</a></li>
      <li><a href="mailto:{{site.email}}">Contato</a></li>
    </ul>
    <!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//cleberdantas.us8.list-manage.com/subscribe/post?u=d725ade92751c32145ea92d88&amp;id=501d6bf7aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Cadastre seu email e receba gratuitamente as atualizações do GetFaster!</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d725ade92751c32145ea92d88_501d6bf7aa" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
    <hr />
  </div>
  {{ content }}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.setAccountGA}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<div id="toast">
    &nbsp;
</div>
<!-- Drip -->
<script type="text/javascript">
  var _dcq = _dcq || [];
  var _dcs = _dcs || {}; 
  _dcs.account = '3789269';
  
  (function() {
    var dc = document.createElement('script');
    dc.type = 'text/javascript'; dc.async = true; 
    dc.src = '//tag.getdrip.com/3789269.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(dc, s);
  })();
</script>
</body>
</html>
