<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
{% include head.html %}
<body>
<header>
    <div class="logo">
      <a href="/" class="titlesite">GF</a>
    </div>  
    {% if page.image.feature %}
      <div class="hero" style="background-image: url(/images/{{page.image.feature}});">    
          {% if page.title %}
          <h1>{{ page.title }}</h1>
          {% else %}
          <h1>{{ site.name }}</h1>
          {% endif %}           
      </div>
    {% endif %}
    <link rel="canonical" href="{{ site.url }} {{ page.url}}" />
  </header>
<div class="container menu">
    <ul>
      <li><a href="/sobre.html">Sobre</a></li>
      <li><a href="/index.html">Blog</a></li>
      <li><a href="/videos.html">Vídeos</a></li>
      <li><a href="mailto:{{site.email}}">Contato</a></li>
    </ul>
    <hr />
  </div>
  {{ content }}

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{site.setAccountGA}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<script src="//js/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Open+Sans:300italic,400italic,600italic,400,300,600']
    }
  });
</script>
<div id="toast">
    &nbsp;
</div>
</body>
</html>
