---
layout: layout
image:
  feature: berlin.jpg
---
<div class="container content">
  <div class="date">
    {{ page.date | date: "%e/%m/%Y" }}
    {% include read_time.html %}
  </div>
{{ content }}
<hr />
<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
  /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//cleberdantas.us8.list-manage.com/subscribe/post?u=d725ade92751c32145ea92d88&amp;id=501d6bf7aa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
  <label for="mce-EMAIL">Cadastre seu email e receba gratuitamente as atualizações do GetFaster!</label>
  <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d725ade92751c32145ea92d88_501d6bf7aa" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Cadastrar" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
<div class="closing">
  <div class="bio">
    By
    <a href="https://twitter.com/{{site.twitter}}" class="twitter-follow">
      @{{site.twitter}}
    </a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{site.twitter}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>
</div>

