---
layout: layout
image:
  feature: berlin.jpg
---
<div class="container content">
  <div class="date">
    {{ page.date | date: "%e/%m/%Y" }}
    {% include read_time.html %}
  </div>
{{ content }}
<hr />
<p>Quer saber mais sobre Web Performance? Cadastre-se em nosso curso de 5 dias grátis via email. Está bem aí do lado inferior direito da página :)</p>
<div class="closing">
  <div class="bio">
    By
    <a href="https://twitter.com/{{site.twitter}}" class="twitter-follow">
      @{{site.twitter}}
    </a>
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="{{site.twitter}}">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>
</div>
</div>

